# --- RECEIVER (A) ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: receiver
spec:
  replicas: 1
  selector:
    matchLabels:
      app: receiver
  template:
    metadata:
      labels:
        app: receiver
    spec:
      containers:
      - name: receiver
        image: receiver:v1
        imagePullPolicy: Never
        ports: [{containerPort: 5000}]
        env:
        - name: NEXT_SERVICE_URL
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: RECEIVER_NEXT_HOP
        # --- HEALTH CHECK (Auto-Recuperación) ---
        livenessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 10
          periodSeconds: 5

---
# --- PROCESSOR (B) ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: processor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: processor
  template:
    metadata:
      labels:
        app: processor
    spec:
      containers:
      - name: processor
        image: processor:v1
        imagePullPolicy: Never
        ports: [{containerPort: 5000}]
        env:
        - name: NEXT_SERVICE_URL
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: PROCESSOR_NEXT_HOP
        # Variable para Redis (Necesaria para persistencia y modo colas)
        - name: REDIS_HOST
          value: "redis-svc"
        # --- HEALTH CHECK ---
        livenessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 10
          periodSeconds: 5

---
# --- AUDITOR (C) ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: auditor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auditor
  template:
    metadata:
      labels:
        app: auditor
    spec:
      containers:
      - name: auditor
        image: auditor:v1
        imagePullPolicy: Never
        ports: [{containerPort: 5000}]
        env:
        # Credenciales de Postgres (Desde Secrets - Más seguro)
        - name: PG_PASS
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: pg-password
        - name: PG_USER
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: pg-user
        - name: PG_DB
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: pg-db
        - name: PG_HOST
          value: "postgres-svc"
        # Variable para Redis (Necesaria si activas el modo Worker/Colas)
        - name: REDIS_HOST
          value: "redis-svc"
        # --- HEALTH CHECK ---
        livenessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 15 # Damos más tiempo al Auditor para conectar a BD
          periodSeconds: 5